* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* general quiz allignment on webpage  */
.head {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    font-weight: 900;
}
body {
    padding: 0;
    margin: 0;
    display:inline flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.Title {
    display:flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 1000;
    font-size: 1.5rem;

}

/* quiz card on webpage.  */
.container {
    width: 800px;
    max-width: 80%;
    border-radius: 10px;
    border-color: dimgray;
    padding: 10px;
    align-items: center;
    justify-content: center;
}


.hide {
    display:none; 
}
#start-button {
    font-size: 2.5rem;
    text-align: center;
    width: 24rem;
    background-color: ghostwhite;
    align-items: center;
    


}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
   
}
#Question { 
    display: flex;
    border: solid;
    justify-content: center;    
    border-width: 1px;
    border-color: black;
    padding: 2px;
    margin: 2px;
}
.answerChoicebox {
    display: flex;
    border: solid;
    justify-content: center;
    border-width: 1px;  
    margin: 2px;

}
footer h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
}